node_modules/

DragonBones/node_modules/

Egret/Demos/
Egret/4.x/node_modules/
Egret/4.x/out/
Egret/5.x/node_modules/
Egret/5.x/out/

Hilo/Demos/
Hilo/1.x/node_modules/
Hilo/1.x/out/

Phaser/Demos/
Phaser/2.x/node_modules/
Phaser/2.x/out/

Pixi/Demos/
Pixi/4.x/node_modules/
Pixi/4.x/out/